.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    padding-bottom: 600px;
}
.container.active {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: var(--sibasiGrey);
    overflow: auto;
    transition: all 0.3s ease;
}
.container::-webkit-scrollbar {
    display: none; 
  }
  .doc{
    background-color: var(--sibasiGrey);
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
  }
.cover{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;
    background-color: var(--sibasiWhite);
}
.nav{
    position: sticky;
    top: 0;
    padding-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--sibasiWhite);
    padding: 15px 15px;
    letter-spacing: 0.08rem;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    z-index: 100;
}
.project-details{
      
    align-self: center;
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;       
    position: relative;
    color: #465268;
    border: #465268 solid 1px;
    border-radius: 10px;
    box-sizing: border-box;

}
.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #465268;
    color: var(--sibasiWhite);
    padding: 15px 15px;
    letter-spacing: 0.08rem;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
}
.head span{
    font-weight: 600;
    font-size: 1.1rem;
}
.back {
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: #465268;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.back:hover {
    transform: translateX(-5px);
}
.details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    color: #465268;
}
.dets{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #465268;
}
.dets span{
    font-weight: 600;
    font-size: 1.15rem;
}
.dets label{
    font-weight: 600;
    font-size: 1.02rem;
}
.dets input, textarea{
    width: 90%;
    padding: 11px 15px;
    border: none;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #465268;
    border: 2px solid #7382a1;
    transition: all 0.3s ease;
}
.dets input:focus, textarea:focus{
    transform: translateX(2px);
   
}
::ng-deep .date-ng{
    width: 90% !important;
    border: none !important;
    border-radius: 5px !important;
    border: 2px solid #7382a1 !important;
}

::ng-deep .date-ng input{
    background-color: var(--sibasiWhite) !important;
    color: var(--text-color) !important;
    border: none !important;

}
::ng-deep .date-ng button{
    background-color: #465268 !important;
    color: var(--sibasiWhite) !important;
    border: none !important;
}
::ng-deep .date-ng input:focus{
    outline: none !important;
}
::ng-deep .date-ng .p-datepicker {
    padding: 0px !important;
    background: var(--sibasiWhite) !important;
    background-color: var(--sibasiWhite) !important;
    border: none !important;
}
::ng-deep .date-ng .p-datepicker-panel{
    background-color: var(--sibasiWhite) !important;
    color: #465268;
}


::ng-deep .date-ng .p-datepicker-header {
    background-color: var(--sibasiWhite) !important;
    color: var(--text-color) !important;
    padding: 12px 16px !important;
}
::ng-deep .date-ng .p-datepicker-title {
    color: var(--text-color) !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}
::ng-deep .date-ng .p-datepicker-calendar {
    background-color: var(--sibasiWhite) !important;
    width: 100% !important;
    color: #465268;
}
::ng-deep .date-ng .p-datepicker-calendar thead  {
    background-color: var(--sibasiWhite) !important;
    color: var(--text-color) !important;
    font-weight: 600 !important;
    padding: 8px !important;
    font-size: 12px !important;
    text-align: center !important;
    opacity: 0.7 !important;
}
::ng-deep .date-ng .p-datepicker-calendar tbody td {
    background-color: var(--sibasiWhite) !important;
    padding: 2px !important;
    text-align: center !important;
    color: #465268 !important;
}
::ng-deep .date-ng .p-datepicker-calendar tbody td > span {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
    color: var(--text-color) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 14px !important;
    cursor: pointer !important;
    transition: all 0.2s ease !important;
    background-color: transparent !important;
}
::ng-deep .date-ng span{
    color: #465268 !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}
::ng-deep .date-ng .p-datepicker-calendar tbody td > span.p-highlight {
    background-color: var(--sibasiWhite) !important;
    color: var(--text-color) !important
}
.update-btn{
    background-color: #465268;
    border: none;
    margin-top: 10px;
    padding: 7px 19px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    color: var(--sibasiWhite);
    align-items: center;
    border-radius: 14px 28px 14px 28px;
}
.update-btn i{
    font-size: 0.75rem;
}
.update-btn span{
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.severity{
    width: 80%;
    align-self: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;   
    position: relative;
    color: #465268;
    padding: 11px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.severity-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}
.severity-item{
    width: 35%;
    height: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f3f6fa;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
    
}
.severity-item:hover{
    
    transform: translateY(-5px)
}
.severity-item span{
    font-size: 0.99rem;
    font-weight: 600;
}
.severity-item i{
    font-size: 2.3rem;
    
}
.maximize{
    
    background-color: var(--sibasiGrey);
    width: 30px;
    height: 30px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.maximize i{
    font-size: 1.0rem;
    color: #465268;
}

.maximize:hover {
    transform: translateX(5px);
}
.findings{
    width: 100%;
    align-self: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;   
    position: relative;
    color: #465268;
    padding: 11px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;

}
.add-btn{
    background-color: var(--sibasiWhite);
    border: none;
    margin-top: 10px;
    padding: 7px 19px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    color: #465268;
    align-items: center;
    border-radius: 14px 28px 14px 28px;
}
.add-btn i{
    font-size: 0.75rem;
    font-weight: 600;
}
.add-btn span{
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
.findings-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--sibasiWhite);
    padding: 20px;
    border-left: 5px solid #7382a1;
    
}
.findings{
    width: 85%;
    background-color: var(--sibasiWhite);
    padding: 20px;
}
.finding-head{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 10px;
}
.labels{
    display: flex;    
    gap: 20px;
}
.label-1, .label-2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #465268 solid 1px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.label-1 span, .label-2 span{
    font-size: 0.85rem;
    font-weight: 500;
}

.label-1{
    background-color: rgb(255, 233, 178);
    color: rgb(126, 108, 7);
    border: none;
}
.label-2{
    background-color: rgb(241, 223, 223);
    border: 1px solid var(--sibasiGrey);
    color: #465268
}
.finding-head i{
    color: var(--sibasiDanger);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.finding-head i:hover{
    transform: translateY(5px);
}
.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
}
.title label{
    font-size: 0.98rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
}
.title input{
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid #7382a1;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    color: #465268;
    outline: none;
    background-color: inherit;
}
.severity-select{
    padding: 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.severity-select label{
    font-size: 0.98rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
}
.select-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.severity-select select{

    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid #7382a1;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    color: #465268;
    outline: none;
    background-color: inherit;
}
.description{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px;
}
.description label{
    font-size: 0.98rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
}
.description textarea{
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid #7382a1;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    color: #465268;
    outline: none;
    background-color: inherit;
    resize: none;
    min-height: 100px;
}